<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>407499245079-1pv25to28ecvh8l5ko91dmc7qp3tmcnm.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.407499245079-1pv25to28ecvh8l5ko91dmc7qp3tmcnm</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
